/*Global Styles*/
body {
	background: linear-gradient(180deg, rgba(175,103,233,1) 40%, rgba(101,101,231,1) 100%);
	font-family: var(--main-font);
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: calc(100vh - 34px);
	padding-top: 100px;
}

.nineSixty {
	max-width: 960px;
	width: 100%;
	margin: 25px;
}


/*Font Styles*/
h1 {
	font-size: 1.5rem;
	color: var(--heading-primary);
	font-weight: 700;
	text-align: center;

}

.faqAnswer p {
	font-size: 0.75rem;
	color: var(--text-primary);
	padding: 10px 0px;
}


/*FAQ Section Styling*/
.faq__holder {
	background-color: var(--bg-secondary);
	border-radius: 20px;
}

.image__container {
	display: flex;
	padding: 40px;
	flex: 0 1 50%;
}

.image__container img {
	margin-top: calc(-50% - 30px);
	width: 100%;
}

.image__container img:before {
	background-image: url("img/bg-pattern-mobile.svg");
	background-position: top center;
	background-repeat: no-repeat;
}

.content__container {
	margin: 0px auto 25px;
	padding: 25px;
	flex: 0 1 50%;
}

.faqQuestion {
	color: var(--heading-primary);
	cursor: pointer;
	padding: 15px 0px;
	width: 100%;
	border: 0px;
	border-bottom: solid 1px var(--divider-primary);
	background-color: inherit;
	text-align: left;
}

.faqQuestion:hover {
	color: var(--text-active);
}

.active {
	font-weight: 700;
	color: var(--heading-active);
}

.faqQuestion + .faqAnswer {
	display: none;
	overflow: hidden;
}

.faqQuestion.active + .faqAnswer {
	display: block;
}

/*Footer Styles*/
.attribution {
    font-size: 11px; 
    text-align: center; 
    color: hsl(228, 45%, 44%); 
    padding: 10px;
}

.attribution a {
	color: hsl(228, 45%, 44%); 
}



/*Media Queries*/
@media screen and (min-width: 376px) {
	.faq__holder {
		display: flex;
	}

	.image__container {
	padding: 0px;
	}

	.image__container img {
	margin-top: 0px;
	margin-left: -10%
	}

	.image__container img:before {
	background-image: url("img/bg-pattern-desktop.svg");
	}

	.image__container img:after {
	background-image: url("img/illustration-box-desktop.svg")
	}
}